DATA_ROOT=/data/releases/aic25-b1-v1
CACHE_ROOT=/tmp/aiou-cache
MODEL_ID=sentence-transformers/clip-ViT-B-32-multilingual-v1
MODEL_REVISION=58edf8cada9e398793dca955574a48cbb7f18be2
FAISS_NPROBE=32
RESULTS_PER_PAGE=10
TRANSLATION_MODEL_ID=facebook/nllb-200-distilled-600M
TRANSLATION_MODEL_REVISION=f8d333a098d19b4fd9a8b18f94170487ad3f821d
LOG_LEVEL=INFO
VIDEO_ROOT=/path/to/videos
